body {
  background-color: #029EDB;
  padding: 0 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #004561;
}

h1,
h3 {
  color: #01425C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  gap: 2%;
}

.nav a {
  text-decoration: none;
  color:#004561;
}

.nav a:hover {
  color: #46B5E1;
}

.img-square,
.img-vertical {
  width: 400px;
  height: auto;
}

.img-horizontal {
  height: 400px;
  width: auto;
}